// ABOUT PAGE STYLES //

.about-main {
  padding: 20px;
  animation: fadein 2.5s;
  h1 {
    text-align: center;
    letter-spacing: 0.25em;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about-overview {
  display: block;
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
  border: solid rgba(black, 0.1) 5px;
}
.about-specifics {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px 0;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    line-height: 24px;
  }
  i {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
}
