footer {
  position: relative;
  z-index: 3;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  color: white;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
      transition: all ease-in 0.3s;
    }
  }
  p {
    margin-bottom: 5px;
  }
  @media (min-width: 650px) {
    color: black;
    a {
      color: black;
    }
  }
}
