footer {
  position: relative;
  text-align: center;
  background: none;
  margin: 0 0 115px;
  a {
    color: black;
    text-transform: uppercase;
  }
  p {
    font-size: 13px;
    margin: 10px 0 0 0;
  }
  i {
    color: black;
    font-size: 30px;
    padding: 5px;
  }
  .fab {
    border-bottom: solid black 3px;
    padding: 10px;
    &:hover {
      background-color: black;
      color: white;
      transition: all ease-in-out 350ms;
    }
  }
  @media (min-width: 650px) {
    margin: 0;
    text-align: right;
    background: black;
    a {
      color: white;
    }
    p {
      color: white;
      font-size: 15px;
      text-align: center;
      padding-bottom: 20px;
    }
    i {
      color: white;
    }
    .social-links {
      margin-right: 30px;
      padding-top: 20px;
    }
    .fab {
      border-bottom: solid white 3px;
      &:hover {
        background-color: white;
        color: black;
        transition: all ease-in-out 350ms;
      }
    }
  }
}
