// HEADER STYLING //

header {
  position: relative;
  height: 200px;
  h1 {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 1.5rem;
    top: 75px;
    margin-left: -200px;
    transition: 1s;
  }
  @media (min-width: 650px) {
    .header {
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 1.8rem;
      }
    }
  }
}

.logo {
  position: absolute;
  width: 220px;
  filter: opacity(10%);
  &:hover {
    transition: all ease-in-out 300ms;
  }
}
