// MAIN CONTENT STYLES //

// containers
.project {
  position: relative;
  margin: 30px;
  padding: 20px;
  animation: fadein 2.5s;
  @media (min-width: 650px) {
    display: flex;
  }
}
@media (min-width: 650px) {
  .project-container {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
  }
  .project-info {
    position: relative;
    width: 100%;
    margin-left: 20px;
    padding: 5px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Border styling
.corner-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top: solid rgba(black, 0.1) 4px;
  border-left: solid rgba(black, 0.1) 4px;
}

// elements
.main-projects h2 {
  margin-top: 10px;
}
.see-project-link {
  color: black;
  float: right;
  text-decoration: none;
  margin: 0;
  padding: 10px 15px;
  display: flex;
  // Hover effect by Andreas Storm
  position: relative;
  transition: all 0.2s ease;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(black, 0.1);
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
  }
  span {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    padding-bottom: 5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 1.5;
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  &:hover {
    &:before {
      width: 100%;
      background: rgba(black, 0.1);
    }
    svg {
      transform: translateX(0);
    }
    &:active {
      transform: scale(0.96);
    }
  }
}
.img-container {
  max-width: 450px;
  @media (min-width: 650px) {
    width: 60%;
  }
}
.projects-img {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
