// MAIN CONTENT STYLES //

// containers
.main-projects {
  padding: 20px;
  h1 {
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-align: center;
    font-size: 2.5rem;
  }
}
.project {
  position: relative;
  display: block;
  margin: 30px auto 50px auto;
  padding: 20px;
  animation: fadein 2.5s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 500px;
  &:hover {
    transition: all ease-in-out 350ms;
    transform: scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  @media (min-width: 800px) {
    display: flex;
    max-width: 1000px;
  }
}
@media (min-width: 800px) {
  .project-container {
    display: block;
    max-width: 1000px;
    margin: 50px auto 100px auto;
  }
  .project-info {
    position: relative;
    width: 100%;
    margin-left: 20px;
    padding: 5px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.project-section-link {
  text-decoration: none;
  color: black;
  transition: transform 300ms ease-in-out;
}

// Filter buttons
.filter-btns {
  width: 330.8px;
  display: block;
  margin: 50px auto;
  border: solid 0.2px rgba(black, 0.1);
  border-radius: 28px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  button {
    padding: 10px 15px;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    &:hover,
    &:active {
      background: rgba(black, 0.1);
      border-radius: 28px;
      transition: all ease-in-out 250ms;
    }
    &:focus {
      background: rgba(black, 0.1);
      border-radius: 28px;
    }
  }
}

// Border styling
.corner-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top: solid rgba(black, 0.1) 4px;
  border-left: solid rgba(black, 0.1) 4px;
}

// elements
.main-projects h2 {
  margin-top: 10px;
}
.see-project-link {
  color: black;
  float: right;
  text-decoration: none;
  margin: 0;
  padding: 10px 15px;
  display: flex;
  // Hover effect by Andreas Storm
  position: relative;
  transition: all 0.2s ease;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(black, 0.1);
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
  }
  span {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    padding-bottom: 5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 1.5;
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  &:hover {
    &:before {
      width: 100%;
      background: rgba(black, 0.1);
    }
    svg {
      transform: translateX(0);
    }
    &:active {
      transform: scale(0.96);
    }
  }
}
.img-container {
  max-width: 450px;
  @media (min-width: 800px) {
    width: 100%;
    margin: auto 0;
  }
}
.projects-img {
  width: 100%;
  height: auto;
}
