// MAIN CONTENT STYLES //
.main-projects h1 {
  margin-top: 0;
  text-align: center;
}
.project {
  position: relative;
  border: solid black 5px;
  margin: 15px;
}
.see-project-link {
  position: absolute;
  top: 80px;
  left: 110px;
  color: white;
  text-decoration: none;
}

/*.project-container {
      display: block;
      max-width: 500px;
      margin: 0 auto;
    }
    .project-info {
      position: relative;
      width: 100%;
      padding: 5px;
    }
    .see-project-btn {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }*/
