.movie-img-container {
  width: 100%;
  svg {
    display: block;
    margin: 20px auto;
  }
  img {
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  @media (min-width: 650px) {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    svg {
      margin: auto 20px;
    }
    img {
      width: 45%;
    }
  }
}
.favourites-vid,
.sorting-vid {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

// Features Tab

.feature {
  h3 {
    position: relative;
    margin-top: 60px;
    font-size: 1.5rem;
    b {
      font-family: relation-two, sans-serif;
      font-size: 3rem;
    }
    span {
      position: absolute;
      top: -8px;
      padding: 30px;
      background: rgba(black, 0.1);
      border-radius: 30px;
      font-size: 2.5rem;
    }
  }
  p {
    display: block;
    margin: 20px auto;
  }
  @media (min-width: 800px) {
    .feature-details {
      display: flex;
      p {
        margin-left: 20px;
        padding: 12px;
        border-bottom: solid 4px rgba(black, 0.1);
        border-right: solid 4px rgba(black, 0.1);
      }
    }
  }
}
