.main-nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  padding: 20px 0 30px 0;
  background-color: black;
  @media (min-width: 650px) {
    position: unset;
    width: 200px;
    background-color: transparent;
  }
}
.main-nav ul {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  list-style: none;
  @media (min-width: 650px) {
    display: block;
    padding: 0 10px;
    margin-right: 20px;
    border-bottom: solid black 2px;
    // Hover effect by Andreas Storm
    position: relative;
    transition: all 0.2s ease;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -20px;
      right: -5px;
      display: block;
      border-radius: 150px;
      background: rgba(black, 0.1);
      width: 100px;
      height: 100px;
      transition: all 0.9s ease;
    }
    &:hover {
      &:before {
        top: -50px;
        right: -30px;
        background: rgba(black, 0.1);
        width: 250px;
        height: 250px;
      }
      &:active {
        transform: scale(1);
      }
    }
  }
  .nav-link {
    display: block;
    margin-left: 0;
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    padding: 0;
    &::after {
      content: "";
      display: block;
      padding-bottom: 2px;
      width: 0;
      height: 2px;
      background: white;
      transition: width 0.3s;
    }
    &:hover::after {
      width: 100%;
    }
    &:hover {
      border-right: solid white 2px;
      transition: all ease-in 0.3s;
    }

    svg {
      display: none;
    }
    @media (min-width: 650px) {
      margin: 20px 0;
      text-align: right;
      color: black;
      border: none;
      padding: 2px;
      vertical-align: middle;
      svg {
        display: inline-block;
        position: relative;
        top: 0;
        margin-left: 10px;
        padding: 2px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: black;
        stroke-width: 1.5;
        transform: translateX(-8px);
        transition: all 0.5s ease;
      }
      &::after {
        display: none;
      }
      &:hover {
        border: none;

        svg {
          transform: translateX(0);
        }
      }
    }
  }
}
