.main-nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  padding: 15px 0 40px 0;
  background-color: black;
  h4 {
    display: none;
    color: white;
  }

  @media (min-width: 650px) {
    position: unset;
    width: 200px;
    background-color: transparent;
    padding: 20px 0 30px 0;
  }
}
.main-nav ul {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  list-style: none;
  @media (min-width: 650px) {
    display: block;
    padding: 0 10px;
    margin-right: 20px;
    border-bottom: solid white 2px;
  }
  .nav-link {
    display: block;
    color: white;
    text-decoration: none;
    margin-left: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    padding: 8px 10px 5px;
    border-bottom: solid white 3px;
    svg {
      display: none;
    }
    &:hover {
      background: white;
      color: black;
      transition: all ease-in-out 500ms;
    }
    @media (min-width: 650px) {
      margin: 20px 0;
      text-align: right;
      color: white;
      border: none;
      padding: 2px;
      vertical-align: middle;
      svg {
        display: inline-block;
        position: relative;
        top: 0;
        margin-left: 10px;
        padding: 2px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: white;
        stroke-width: 1.5;
        transform: translateX(-8px);
        transition: all 0.5s ease;
      }
      &::after {
        display: none;
      }
      &:hover {
        border: none;
        background: transparent;
        color: white;

        svg {
          transform: translateX(0);
        }
      }
    }
  }
}
