.single-main {
  padding: 20px;
  h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.25em;
  }
}
.single-main-img {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.about-project {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
.single-links {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px;
  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
}
.tabs-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  h3 {
    text-transform: uppercase;
  }
}
.project-details {
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.links-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  .link-fwd,
  .link-bck {
    text-decoration: none;
    color: black;
    &::after {
      content: "";
      display: block;
      padding-bottom: 2px;
      width: 0;
      height: 2px;
      background: black;
      transition: width 0.3s;
    }
    &:hover::after {
      width: 100%;
    }
    &:hover {
      border-right: solid black 2px;
      transition: all ease-in 0.3s;
    }
  }
}
