.scroll-to-top {
  position: fixed;
  z-index: 5;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  padding: 20px 30px 40px 30px;
  border-radius: 50%;
  i {
    color: white;
    font-size: 20px;
  }
  &:hover {
    bottom: 80px;
    transition: all ease-in-out 300ms;
  }
  @media (min-width: 650px) {
    position: absolute;
    bottom: 55px;
    &:hover {
      bottom: 60px;
      transition: all ease-in-out 300ms;
    }
  }
}
