.scroll-to-top {
  position: fixed;
  z-index: 5;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  padding: 15px 25px 35px 25px;
  border-radius: 50%;
  i {
    color: white;
    font-size: 25px;
  }
  &:hover {
    bottom: 105px;
    transition: all ease-in-out 300ms;
  }
  @media (min-width: 650px) {
    position: absolute;
    bottom: 60px;
    &:hover {
      bottom: 65px;
      transition: all ease-in-out 300ms;
    }
  }
}
