// ABOUT PAGE STYLES //

.about-main {
  position: relative;
  display: block;
  margin: 60px 12px;
  padding: 20px;
  max-width: 1000px;
  animation: fadein 2.5s;
  border: solid rgba(black, 0.1) 5px;
  h1 {
    text-align: center;
    letter-spacing: 0.25em;
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    background-color: white;
    font-size: 2.6rem;
    text-transform: uppercase;
  }
  @media (min-width: 1000px) {
    margin: 60px auto;
    h1 {
      font-size: 3rem;
      width: 400px;
    }
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// About container //
.about-overview {
  position: relative;
  display: block;
  margin: 40px auto;
  padding: 40px 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  p {
    line-height: 25px;
  }
  @media (min-width: 1000px) {
    max-width: 700px;
    padding: 30px;
  }
}

// section two of about container //
.about-specifics {
  margin: 20px auto 30px auto;
  max-width: 1000px;
  padding: 30px 10px;
  line-height: 40px;
  h2 {
    text-align: center;
    margin: 30px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  li {
    line-height: 24px;
  }
  @media (min-width: 1000px) {
    display: flex;
    justify-content: space-around;
  }
}

// Skills section //
.soft-skills li {
  max-width: 150px;
  display: block;
  margin: 5px auto;
  padding: 2px 15px;
  background: rgba(black, 0.1);
  border-radius: 28px;
}

.favourites ul {
  text-align: center;
  i {
    font-size: 30px;
    line-height: 50px;
  }
}

.education span {
  font-size: 22px;
  line-height: 50px;
}
